body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-decoration: none;
    color: black;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin-bottom: 100px;
}
.header {
    background: #1d1e20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;

}

.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS GRID1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cada 1fr é o 100% por 3*/
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5; /*Queremos que o anúncio fique entre a linha 2 e 5*/
    border-top: 10px solid tomato;
    display: block;
}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);        
    }
    .grid1 > div:nth-child(n + 4) {
        display: block;
    }
    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
    }
}

/*CSS GRID2*/

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar > div {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: flex;
        overflow: scroll;
    }
    .sidebar > div {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}