body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    background: rgba(243, 227, 227, 0.05);
}

.header {
    background: rgb(38, 74, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;

}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
}